<nav class="navbar fixed-top"> <!-- el problema con el mensaje flotante de inicio de sesion es porque esta el fixed top-->
    <!-- Container-->
    <div class="d-flex justify-content-between">
        <!-- Navbar brand -->
        <a class="navbar-brand me-2 programar_logo_bloque" href="">
            <img class="programar_logo" src="./assets/icons/APLogo_negro.png"/>
        </a>
    </div>
    <!-- Left links -->
    <div class="d-flex align-items-center">
        <div class="d-flex justify-content-end">
            <app-redes></app-redes>
        </div>    
            
                <!-- Button trigger modal -->
                <app-log-in></app-log-in>
            </div>             
</nav>