<div class="no-padding grilla container-fluid">
    <div class="row g-2">
      <div class="col-12">
        <div class="p-3 border bg-light">
            <app-experiencia></app-experiencia>
        </div>
      </div>
    </div>
    <div class="row g-2">
        <div class="col-12">
          <div class="p-3 border bg-light">
            <h2>Educacion</h2>
            <ul>
                <li>
                    <h3>Test</h3>
                    <p>test</p>
                </li>
                <li>
                    <h3>Test</h3>
                    <p>test</p>
                </li>
                <li>
                    <h3>Test</h3>
                    <p>test</p>
                </li>                        
            </ul>
          </div>
        </div>
      </div>
      <div class="row g-2">
        <div class="col-12">
          <div class="p-3 border bg-light">
            <h2>Hard and Soft Skills</h2>
            <ul>
                <li>
                    <h3>Test</h3>
                    <p>test</p>
                </li>
                <li>
                    <h3>Test</h3>
                    <p>test</p>
                </li>
                <li>
                    <h3>Test</h3>
                    <p>test</p>
                </li>                        
            </ul>
          </div>
        </div>
      </div>
      <div class="row g-2">
        <div class="col-12">
          <div class="p-3 border bg-light">
            <h2>Proyectos realizados</h2>
            <ul>
                <li>
                    <h3>Test</h3>
                    <p>test</p>
                </li>
                <li>
                    <h3>Test</h3>
                    <p>test</p>
                </li>
                <li>
                    <h3>Test</h3>
                    <p>test</p>
                </li>                        
            </ul>
          </div>
        </div>
      </div>
</div>