<div class="no-padding grilla container-fluid" data-bs-spy="scroll" data-bs-target="#carouselExampleDark" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-light p-3 rounded-2" tabindex="0">
    <div class="row g-2">
      <div class="col-12">
        <div class="p-3 border bg-light">
            <app-experiencia></app-experiencia>
        </div>
      </div>
    </div>
    <div class="row g-2">
        <div class="col-12">
          <div class="p-3 border bg-light">
            <app-educacion></app-educacion>
          </div>
        </div>
      </div>
      <div class="row g-2">
        <div class="col-12">
          <div class="p-3 border bg-light">
           <app-skills></app-skills>
          </div>
        </div>
      </div>
      <div class="row g-2">
        <div class="col-12">
          <div class="p-3 border bg-light" id="proyectos">
            <app-proyectos></app-proyectos>
          </div>
        </div>
      </div>
</div>