<nav class="navbar fixed-top"> <!-- el problema con el mensaje flotante de inicio de sesion es porque esta el fixed top-->
    <!-- Container-->
    <div class="d-flex justify-content-between">
        <!-- Navbar brand -->
        <a class="navbar-brand me-2 programar_logo_bloque" href="">
            <img class="programar_logo" src="./assets/icons/APLogo_negro.png"/>
        </a>
    </div>
    <!-- Left links -->
    <div class="d-flex align-items-center">
        <div class="d-flex justify-content-end">
            <app-redes></app-redes>
        </div>    
            
                <!-- Button trigger modal -->
                <button type="button" class="btn login_btn px-2 me-2 login_btn text-success bg-success bg-opacity-10 border border-success border-opacity-10 rounded-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Iniciar Sesion
                </button>
            </div>
                         
</nav>
<app-log-in></app-log-in>